<ion-content>

  <ion-slides class="mainSlide" #slidePrincipal>
    
    <ion-slide>

      <form (ngSubmit)="login(formLogin)" #formLogin='ngForm'>
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-luffy.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <!-- <ion-label>Email</ion-label> -->
                    <!-- Podría añadir [(ngModel)]="loginUsuario.email" si quisiera que apareciera ya escrito el email del usuario -->
                    <ion-input name="email"
                                type="email"
                                placeholder="Email"
                                [(ngModel)]="loginUsuario.email"
                                required></ion-input>
                  </ion-item>

                  <ion-item>
                    <!-- <ion-label>Contraseña</ion-label> -->
                    <!-- Podría añadir [(ngModel)]="loginUsuario.password" si quisiera que apareciera ya escrito el password del usuario -->
                    <ion-input name="password"
                                type="password"
                                placeholder="Contraseña"
                                [(ngModel)]="loginUsuario.password"
                                required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round">
                Ingresar
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>
    
    </ion-slide>

    <ion-slide>

      <ion-grid fixed>

          <!-- Avatar selector -->
          <app-avatar-selector (avatarSeleccionado)="registroUsuario.avatar = $event"></app-avatar-selector>
        
            <form (ngSubmit)="signup(formSignup)" #formSignup='ngForm'>
                <ion-row>
                    <ion-col>
                        
                        <ion-list>

                          <ion-item>
                            <ion-label position="floating">Nombre:</ion-label>
                            <!-- Podría añadir [(ngModel)]="usuario.nombre" si quisiera que apareciera ya escrito el nombre del usuario -->
                            <ion-input name="nombre"
                            type="text"
                            placeholder="Nombre"
                            [clearInput]="true"
                            required></ion-input>
                          </ion-item>
                          
                          <ion-item>
                            <ion-label position="floating">Apellidos:</ion-label>
                            <!-- Podría añadir [(ngModel)]="usuario.nombre" si quisiera que apareciera ya escrito el nombre del usuario -->
                            <ion-input name="apellidos"
                            type="text"
                            placeholder="Apellidos"
                            [clearInput]="true"
                            required></ion-input>
                          </ion-item>

                          <ion-item>
                          <ion-label position="floating">Email:</ion-label>
                          <!-- Podría añadir [(ngModel)]="usuario.email" si quisiera que apareciera ya escrito el email del usuario -->
                          <ion-input name="email" 
                                      type="email"
                                      placeholder="Email"
                                      [clearInput]="true"
                                      required></ion-input>
                          </ion-item>

                            <ion-item>
                            <ion-label position="floating">Contraseña:</ion-label>
                            <!-- Podría añadir [(ngModel)]="usuario.password" si quisiera que apareciera ya escrito el password del usuario -->
                            <ion-input name="password"
                                        type="password"
                                        placeholder="Contraseña"
                                        [clearInput]="true"
                                        required></ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">Fecha de nacimiento:</ion-label>
                              <ion-input type="date" name="fechaNacimiento" placeholder="Seleccione la fecha" required></ion-input>
                            </ion-item>
                            
                            <!-- <ion-item position="floating">
                              <ion-label>Sexo:</ion-label>
                              <ion-checkbox name="sexo" value="hombre" slot="start"></ion-checkbox>
                              <ion-label slot="start">Hombre</ion-label>
                            </ion-item>
                            
                            <ion-item>
                              <ion-checkbox name="sexo" value="mujer" slot="start"></ion-checkbox>
                              <ion-label slot="start">Mujer</ion-label>
                            </ion-item> -->

                            <ion-item>
                              <ion-label>Sexo:</ion-label>
                            </ion-item>
                            <ion-item>
                              <ion-radio-group name="sexo">
                                <ion-item>
                                  <ion-radio value="hombre"></ion-radio>
                                  <ion-label>Hombre</ion-label>
                                </ion-item>
                                <ion-item>
                                  <ion-radio value="mujer"></ion-radio>
                                  <ion-label>Mujer</ion-label>
                                </ion-item>
                              </ion-radio-group>
                            </ion-item>
                                                        
                            <ion-item>
                              <ion-label position="floating">Dirección:</ion-label>
                              <ion-input name="direccion" 
                                          type="text"
                                          placeholder="Dirección"
                                          [clearInput]="true"
                                          required>
                              </ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">Ciudad:</ion-label>
                              <ion-input name="ciudad" 
                                          type="text"
                                          placeholder="Ciudad"
                                          [clearInput]="true"
                                          required>
                              </ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">Localidad:</ion-label>
                              <ion-input name="localidad" 
                                          type="text"
                                          placeholder="Localidad"
                                          [clearInput]="true"
                                          required>
                              </ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">País:</ion-label>
                              <ion-input name="pais" 
                                          type="text"
                                          placeholder="País"
                                          [clearInput]="true"
                                          required>
                              </ion-input>
                            </ion-item>

                            <ion-item>
                              <ion-label position="floating">Código postal:</ion-label>
                              <ion-input name="cp" 
                                          type="number"
                                          placeholder="Código postal"
                                          [clearInput]="true"
                                          required>
                              </ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                    <ion-col>
                        <ion-button type="submit"
                                    color="tertiary"
                                    shape="round">
                            Crear usuario
                        </ion-button>
                    </ion-col>
                </ion-row>
              
            </form>
        </ion-grid>
  
  
      </ion-slide>


  </ion-slides>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    
    <ion-row>

      <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="medium"
                      fill="solid"
                      color="tertiary"
                      (click)="irALogIn()">
            Iniciar sesión
          </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="medium"
                    fill="solid"
                    color="tertiary"
                    (click)="irASignUp()">
            Registrarme
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-footer>
